<footer>
    <div class="footer-wrapper">
            <div class="footer-brand">
                <img class="brand-logo" src="/images/ig-story-viewer.webp" alt="IG Story Viewer"/>
                <p class="brand-title">IG Story Viewer</p>
        </div>
        <div class="footer-nav">
            <div class="menu">
                <ul class="footer-nav-ul">
                    <li class="nav-link"><a href="#">View Story</a></li>
                    <li class="nav-link"><a href="#">About</a></li>
                    <li class="nav-link"><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>

</script>
</body>
</html>