<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <title>IG Story Viewer</title>
    <meta name="description" content="It is an anonymous Instagram story viewer application which let you view story of a person by pugging their username." />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>
<body>
    <header>
        <div class="desk-nav">
            <div class="brand">
                <img class="brand-logo" src="/images/ig-story-viewer.webp" alt="IG Story Viewer"/>
                <p class="brand-title">IG Story Viewer</p>
            </div>
            <div class="menu">
                <ul class="nav-ul">
                    <li class="nav-link"><a href="#">View Story</a></li>
                    <li class="nav-link"><a href="#">About</a></li>
                    <li class="nav-link"><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="translate">
                <button class="translate-btn">Translate</button>
            </div>
        </div>

        <div class="tab-nav">
            <div class="group1">
                <div class="brand">
                    <img class="brand-logo" src="/images/ig-story-viewer.webp" alt="IG Story Viewer"/>
                    <p class="brand-title">IG Story Viewer</p>
                </div>
                <div class="translate">
                    <button class="translate-btn">Translate</button>
                </div>
            </div>
            <div class="group2">
                <div class="menu">
                    <ul class="nav-ul">
                        <li class="nav-link"><a href="#">View Story</a></li>
                        <li class="nav-link"><a href="#">About</a></li>
                        <li class="nav-link"><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </header>