
:root {
    /*===== Colors =====*/
    --skin-color: #878fa8;
    --primary-color: #1e3371;
    --title-color: #111d41;
    --text-color: #e6683c;
    --scroll-bar-color:#30235d;

    /* --FONT --*/
    --barnd-font: 'Pacifico', sans-serif;
    --title-font: 'Changa', sans-serif;


    /*  .5rem=8px, 1rem= 16px, 1.5rem= 24px --- */
    --biggest-font-size: 4rem;
    --mid-biggest-font-size: 3.5rem;
    --bigger-font-size: 3rem;
    --h1-font-size: 2.23rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*-- FONT WEIGHT  --*/
    --font-medium: 500;
    --font-bold: 600;

    /*-- Margines bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*-- Z-Index --*/
    --z-fixed: 10;
    --z-modal: 100;
}