@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Pacifico&display=swap");

:root {
  /*===== Colors =====*/
  --skin-color: #878fa8;
  --primary-color: #1e3371;
  --title-color: #111d41;
  --text-color: #e6683c;
  --scroll-bar-color: #30235d;

  /* --FONT --*/
  --barnd-font: "Pacifico", sans-serif;
  --title-font: "Changa", sans-serif;

  /*  .5rem=8px, 1rem= 16px, 1.5rem= 24px --- */
  --biggest-font-size: 4rem;
  --mid-biggest-font-size: 3.5rem;
  --bigger-font-size: 3rem;
  --h1-font-size: 2.23rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*-- FONT WEIGHT  --*/
  --font-medium: 500;
  --font-bold: 600;
  --font-extra-bold: 900;

  /*-- Margines bottom */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 0.5rem;
}

header {
  background-color: var(--primary-color);
}

.desk-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 20px;
}

.tab-nav {
  display: none;
}

.group1 {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
  padding: 5px 0 5px 0;
  align-items: center;
}

.group2 {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.brand {
  display: flex;
  align-items: center;
}

.brand-title {
  font-family: var(--barnd-font);
  color: white;
  font-size: var(--h2-font-size);
}

.brand-logo {
  height: 50px;
  width: 50px;
}

.nav-ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.nav-link {
  font-size: var(--h2-font-size);
  padding: var(--mb-0-5);
  margin-right: var(--mb-1);
  font-family: var(--title-font);
  font-weight: var(--font-bold);
}

.nav-link:hover {
  text-decoration: underline wavy orange;
  text-underline-offset: 5px;
}

.nav-link > a {
  color: white;
  text-decoration: none;
}

.skiptranslate {
  display: none;
}

.body {
  position: relative;
  text-decoration: none;
}

.page-container {
  margin: 2rem auto 2rem auto;
  width: 80%;
  font-size: var(--h3-font-size);
}

.hero {
  position: relative;
  text-align: center;
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-image {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.title {
  margin-bottom: var(--mb-2);
  font-size: var(--bigger-font-size);
  font-family: var(--barnd-font);
  text-align: center;
  color: white;
}

.title-desc {
  font-size: var(--biggest-font-size);
  font-family: var(--title-font);
  text-align: center;
  color: white;
  font-weight: var(--font-bold);
  line-height: 4rem;
}

.username-form {
  text-align: center;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
}

input {
  height: var(--mb-2-5);
  padding: var(--mb-0-5);
  width: 20rem;
  border-radius: var(--mb-0-5);
  border: var(--primary-color) 0.15rem solid;
  background-color: pink;
  margin-right: var(--mb-1);
  font-size: var(--mb-1);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

form > button {
  color: var(--primary-color);
  cursor: pointer;
  color: white;
  border: var(--primary-color) 0.15rem solid;
  font-size: var(--mb-0-1);
  padding: var(--mb-0-25);
  font-family: var(--title-font);
  border-radius: var(--mb-0-5);
  font-weight: var(--font-medium);
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.results {
  display: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem;
  width: 85%;
  background-color: var(--skin-color);
  border: #e6683c solid 0.2rem;
  border-radius: 0.5rem;
}

.user {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.user-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 0 2.5rem 0;
}

.user-details {
  border-left: solid red 2px;
  border-right: solid red 2px;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
}

.profile-pic {
  height: 150px;
  width: 150px;
  border: #5fdd72 solid 2px;
  border-radius: 50%;
}
.username-info {
  font-family: var(--title-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  color: var(--skin-color);
}

.info-title {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  color: white;
}

.error-title {
  line-height: 1;
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  color: var(--primary-color);
}

.info-data {
  align-content: center;
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  color: var(--text-color);
}

.bio {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  line-height: 1.5rem;
}

.bio > .info-title {
  padding-bottom: 20px;
}

.content {
  height: max-content;
}

.stories-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}

.stories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story {
  margin: 0.8rem 0.8rem 0.2rem;
  border: #f09433 0.25rem solid;
  width: 200px;
  height: 345px;
  border-radius: 10px;
}

.stories-container > button {
  background-color: #dc2743;
  color: white;
  padding: 2px;
  border-radius: 5px;
  width: 70px;
}

.aboutsite-container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.services-list {
  list-style: circle;
  padding-left: 2rem;
}

.body-title-desc {
  padding: 1rem;
  margin-bottom: var(--mb-1-5);
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
  text-align: center;
  color: white;
  font-weight: var(--font-bold);
  line-height: 2.2rem;
}

.site-desc {
  margin-bottom: var(--mb-1-5);
  background-color: var(--skin-color);
  padding: var(--mb-2);
  border-radius: var(--mb-1);
  font-size: var(--h2-font-size);
  color: white;
}

.features {
  display: flex;
  flex-wrap: nowrap;
  padding: 2rem;
  margin-bottom: var(--mb-2-5);
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 20px 20px 0 rgba(9, 13, 72, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: var(--mb-1);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.link {
  text-decoration: none;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -0.5px;
  left: 0;
  background-color: var(--primary-color);
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}

.link:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.feature-image {
  height: 9.3rem;
  width: 9.3rem;
  border-radius: var(--mb-2);
  margin-right: 2rem;
}
.feature-desc {
  height: auto;
  background-color: var(--skin-color);
  padding: var(--mb-1);
  border-radius: var(--mb-1);
  font-size: var(--h2-font-size);
  color: white;
}

.footer-wrapper {
  position: relative;
  padding: 3rem 0 3rem 0;
  width: 100%;
  background-color: var(--primary-color);
  bottom: 0px;
}

.footer-nav-ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: center;
}

.footer-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--mb-1);
}

.body-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 1rem 0;
}
.body-brand > img {
  height: 5rem;
  width: 5rem;
}

.body-brand > h2 {
  font-size: var(--h1-font-size);
}

.section-title {
  margin-bottom: var(--mb-1-5);
  color: white;
  font-size: var(--h1-font-size);
  text-align: center;
  font-family: var(--title-font);
  text-decoration: underline #e6683c;
  text-underline-offset: var(--mb-0-5);
}

.error-container {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--primary-color);
  margin: 1.5rem auto 1.5rem auto;
  width: 85%;
  border: #e6683c solid 0.2rem;
  border-radius: 0.5rem;
  padding: 2rem;
}

.steps {
  background-color: var(--skin-color);
  padding: var(--mb-2-5);
  border-radius: var(--mb-1);
  font-size: var(--h2-font-size);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-3);
  box-shadow: 0 20px 20px 0 rgba(9, 13, 72, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.accordion__wrapper {
  background-color: white;
  box-shadow: 0 20px 20px 0 rgba(9, 13, 72, 0.37);
  border-radius: var(--mb-1);
  padding: 3rem;
  margin-bottom: 4rem;
}

.accordion__title {
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  color: var(--text-color);
  text-align: center;
  margin-bottom: var(--mb-2);
}

.accordion {
  border-bottom: 0.1rem solid var(--primary-color);
  padding-bottom: var(--mb-1-5);
  margin-bottom: var(--mb-2);
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.accordion__icon {
  background-color: var(--text-color);
  width: var(--mb-2);
  height: var(--mb-2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  font-weight: var(--font-extra-bold);
  font-size: var(--h2-font-size);
  flex-shrink: 0;
}

.accordion__question {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.accordion__answer {
  font-family: var(--title-font);
  padding: 2rem 0;
  color: var(--title-color);
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: 0.4s ease-in-out;
}

body {
  background-color: blueviolet;
  font-family: var(--title-font);
  color: white;
}

@media screen and (max-width: 1150px) {
  .title {
    margin-bottom: var(--mb-1-5);
    font-size: var(--bigger-font-size);
  }

  .title-desc {
    font-size: var(--mid-biggest-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    line-height: 3.5rem;
  }

  .insta-logo {
    height: 45px;
    width: 45px;
  }

  .username-form {
    margin-top: var(--mb-1-5);
    margin-bottom: var(--mb-1-5);
  }

  input {
    height: var(--mb-2-5);
    padding: var(--mb-0-5);
    width: 17rem;
  }
}

@media screen and (max-width: 950px) {
  .title {
    margin-bottom: var(--mb-0-5);
    font-size: var(--h1-font-size);
  }

  .title-desc {
    font-size: var(--bigger-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    line-height: 3.5rem;
  }

  .insta-logo {
    height: 40px;
    width: 40px;
  }

  .username-form {
    margin-top: var(--mb-0-25);
    margin-bottom: var(--mb-0-25);
  }

  input {
    width: 15rem;
  }
}

@media screen and (max-width: 768px) {
  .aboutsite-container {
    width: 90%;
  }
  .page-container {
    width: 95%;
}
  .desk-nav {
    display: none;
  }
  .tab-nav {
    display: block;
  }
  .brand {
    margin-left: auto;
    margin-right: auto;
  }

  .nav-link {
    font-size: var(--h2-font-size);
  }
  .nav-link:hover {
    text-decoration: underline wavy white;
  }

  .title {
    margin-bottom: var(--mb-0-5);
    font-size: var(--h2-font-size);
  }

  .title-desc {
    font-size: var(--h1-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    line-height: 2.5rem;
  }

  .insta-logo {
    height: 27px;
    width: 27px;
  }

  .username-form {
    margin-top: var(--mb-0-25);
    margin-bottom: var(--mb-0-25);
  }

  input {
    width: 10rem;
    height: var(--mb-2);
    margin-right: var(--mb-0-25);
  }

  form > button {
    padding: var(--mb-0-2);
    font-size: var(--mb-0-75);
    width: 5rem;
  }

  .features {
    flex-direction: column;
  }

  .feature-image {
    margin: 0 0 1.5rem 0;
  }
}

@media screen and (max-width: 565px) {
  .desk-nav {
    display: none;
  }
  .tab-nav {
    display: block;
  }

  .nav-link {
    font-size: var(--h3-font-size);
  }
  .nav-link:hover {
    text-decoration: underline wavy white;
  }

  .title {
    margin-bottom: var(--mb-0-5);
    font-size: var(--h3-font-size);
  }

  .title-desc {
    font-size: var(--h2-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    line-height: 1.5rem;
  }

  .insta-logo {
    height: 20px;
    width: 20px;
  }

  .username-form {
    margin-top: var(--mb-0-25);
    margin-bottom: var(--mb-0-25);
  }

  input {
    width: 7rem;
    height: var(--mb-2);
    margin-right: var(--mb-0-25);
    font-size: var(--mb-0-75);
  }

  form > button {
    padding: var(--mb-0-2);
  }

  .body-brand > img {
    height: 4rem;
    width: 4rem;
  }
  .body-brand > h2 {
    font-size: var(--h2-font-size);
  }
}

@media screen and (max-width: 425px) {
  .group1 {
    margin: 0 10px 0 10px;
    padding: 8px 0 8px 0;
  }
  .group2 {
    height: 30px;
  }
  .nav-link {
    font-size: var(--h3-font-size);
  }

  .title {
    margin-bottom: 0.3rem;
    font-size: var(--normal-font-size);
  }

  .title-desc {
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    line-height: 1.2rem;
  }

  .insta-logo {
    height: 15px;
    width: 15px;
  }

  .username-form {
    margin-top: var(--mb-0-25);
    margin-bottom: var(--mb-0-25);
  }

  input {
    width: 6rem;
    height: 1.8rem;
    margin-right: 0.2rem;
    font-size: var(--mb-0-75);
  }

  form > button {
    padding: var(--mb-0-2);
  }
  .footer-nav-ul {
    flex-wrap: wrap;
  }
}
