<%-include('partials/header');-%>   

    <div class="page-container">
        <h1>Contact Us</h1>
        <p>We appreciate your interest in IG Story Viewer. If you have any questions, concerns, or requests, please feel free to reach out to us. We are here to help you!</p>

        <h2>Get in Touch</h2>
        <p>If you need to contact us for any reason, you can reach us at:</p>
        <p>
            <strong>Email: </strong>contact@igstoryviewer.pro<br>
        </p>

        <h2>Disclaimer</h2>
        <p>IG Story Viewer is not affiliated with Instagram. We do not host any of the Instagram stories on our servers. All rights belong to their respective owners.</p>
        <p>If you are the owner of any content displayed through our service and would like to remove your profile data, please contact us at the above email address. We will address your request promptly.</p>
    </div>
<%-include('partials/footer');-%>