<%-include('partials/header');-%>
<div class="container">
    <div class="hero">
        <img class="hero-image" src="/images/watch-instagram-story.webp" alt="Instagram Story Viewer">
        <div class="hero-container">
            <div class="title">IG Story Viewer</div>
        <div class="title-desc"><p>WATCH <span><img class="insta-logo" src="/images/instagram-logo.webp" alt="Instagram Logo"></span> STORIES ANANYMOUSLY</p></div>
        <div class="username-form">
            <form action="/" method="post">
                <input type="text" name="username" placeholder="Enter username"/>
                <button type="submit">View Stories</button>
            </form>
        </div>
        </div>
    </div>
    <div class="results">
        <div class="user">
            <div class="user-bio">
                <img src="/images/insta-pic.jpeg" alt="alt" class="profile-pic">
                <span class="username-info">Supriya Khatiwada</span>

                <p class="info-title">Supriya Khatiwada</p>
            </div>
            <div class="user-details">
                <h3 class="info-title">Following : <span class="info-data">12</span></h3>
                <h3 class="info-title">Following : <span class="info-data">12</span></h3>
                <h3 class="info-title">Followers : <span class="info-data">15.6K</span></h3>
            </div>
        </div>
        <div class="content">
            content goes here
        </div>
        
    </div>
</div>

<%-include('partials/footer');-%>
   
